body {
     display: flex;
     flex-direction: column;
     align-items: center;
}

.tab-bar {
     position: relative;
     display: flex;
     margin-top: 20px;
     width: fit-content;
}

.tab {
     padding: 10px 20px;
     cursor: pointer;
     border: none;
     background: none;
     font-size: 20px;
     position: relative;
}

.underline {
     position: absolute;
     bottom: 0;
     height: 2px;
     background-color: #000;
     transition: width 0.3s, left 0.3s;
}
   